body{
  --dark:rgb(233, 232, 232);
  --foot:rgb(208, 202, 202);
--whitec:black;
--grey:rgb(210, 210, 210);
--blue:rgb(4, 4, 31);
--BRAND_BLUE:rgb(43, 43, 214);
background-color:var(--dark);
color:var(--whitec);
}
@import "bootstrap";

.mylight{
--dark:black;
--foot:black;
--whitec:white;
--grey:rgb(4, 4, 31);
} 


#height{
  background-color:var(--blue);
  height: 66px;
}

.rounded-pill{
  margin-left: 10px;
}
.btn-subscribe{
  background: var(--BRAND_BLUE);
  text-align: center!important;
  text-transform: uppercase;
  height: 29px;
  width: 115px;
  padding: 3px!important;
  font-size: 15px!important;
  margin: 0 -20px 0 0;
 
}

.btn-subscribe:hover{
opacity: 0.6;
}
.btn-subscribe:active{
opacity: 0.4;
}

/*Toggle */
input {
  -webkit-appearance: none;
  position: relative;
  width: 46px;
  height: 25px;
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
  border-radius: 50px;
  outline: none;
  
}

input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 26px;
  background-color: navy;
  border-radius: 50px;
}

input:checked {
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
  

}

input:checked:before {
  transform: translate(100%);
}

/* end*/
.margin{
  background:var(--dark);
  height: 66px;
  width: 100%;
}

.cf{
  background-color:var(--dark);
}

.c{
  background:var(--dark);
}

.row1{
  background-color:var(--dark);
  color:var(--whitec);  
  
}


#first{
  height: 97px;
  
}
#second{
  height: 6.4cm;
}


.marg{
  margin-right: 10px;
  color:var(--whitec);
  font-weight: bold;
 }

 h6{
  color:var(--whitec);
 }

.footer{
  padding-top: 70px;
  background-color:var(--foot);
 height: 5cm;
}

.details{
  background-color:var(--foot);
  padding-left: 20px;
  font-size: 15px;
}
.marg1{
 margin-top: 14px;
}

.connect{
  padding-left: 60px;
}

.disney{
  padding-right: 60px;
}

@media screen and (max-width:576px) {
  .btn-subscribe{
    height:21px;
    width: 93px;
    font-size: 12px!important;
    padding: 1px!important;
    
  }
  input {
  width: 34px;
  border-radius:15px;
  
  }

  input:before { 
    width: 24px;
    border-radius:17px;
  }

  .connect{
    padding-left: 10px;
  }
  .disney{
    float: right;
    padding-right: 10px;
    
  }
}


@media screen and (max-width:800px) {
  .connect{
    padding-left: 30px;
  }
  .disney{
    float: right;
    padding-right: 30px;
    
  }
}
 

@media screen and (max-width:992px) {
  .connect{
    padding-left: 10px;
  }
  .disney{
    float: right;
    padding-right: 10px;
    
  }
}











                      