body{
  background:black;
}

.rounded-pill{
  margin-left: 10px;
}
.btn-subscribe{
  background: var(--BRAND_BLUE);
  text-align: center;
  text-transform: uppercase;
  height: 29px;
  width: 115px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.15s;
  padding: 10px;
  font-size: 10px;
  margin: 12px 0 10px 25px;
 
}

.btn-subscribe:hover{
opacity: 0.6;
}
.btn-subscribe:active{
opacity: 0.4;
}

.margin{
  background: black;
  height: 80px;
  width: 100%;
}

.marg2{
  background: black;
  margin-top: 10px;
}

#first{
  height: 97px;
  
}
#second{
  height: 6.4cm;
}
#height{
  height: 60px;
}

.marg{
  margin-right: 10px;
  color: white;
 }

 h6{
  color: white;
 }

.footer{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 70px;
  background-color: black;
 height: 5cm;
}

.details{
  padding-left: 20px;
  font-size: 15px;
}
.marg1{
 margin-top: 14px;
}

.connect{
  padding-left: 60px;
}

.disney{
  padding-right: 60px;
}

@media screen and (max-width:576px) {
  .connect{
    padding-left: 10px;
  }
  .disney{
    float: right;
    padding-right: 10px;
    
  }
}


@media screen and (max-width:800px) {
  .connect{
    padding-left: 30px;
  }
  .disney{
    float: right;
    padding-right: 30px;
    
  }
}
 

@media screen and (max-width:992px) {
  .connect{
    padding-left: 10px;
  }
  .disney{
    float: right;
    padding-right: 10px;
    
  }
}












                      